<br>
<br>
<br>

<!-- <div class="row justify-content-center" >
    <div class="card w-50 justify-content-center ">
      <div class="card-body ">
          <div class="container bg-#eee" >
          
              <div class="row justify-content-center"> -->

                <div class="container-fluid">
            <div class="row justify-content-center  m-5" style="background-color: lightskyblue;">
        
            
                <form [formGroup]="Fuser">
                <h5 class="card-title justify-content-center">Forget Passward </h5>
                
                
              
                <hr>
                <div class="Form-Group">
                    <label class="Form-label">Email</label>
                    <input type="email" style="background-color: #eee;"class="form-control" formControlName="emailId" name="emailId"
                        placeholder="enter email">
                        <br>
                </div>
                <button type="submit" class="btn btn-info" (click)="FsaveUser()">Submit</button>
               </form>
            </div>
              </div>
          